@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@399;400;500;600&display=swap");

:root {
    --main-color: #4b5455;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #ffffff;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-header .brand img {
    margin-left: 30px;
    margin-top: 30px;
    width: 150px;
}

.sidebar-menu {
    margin-top: 30px;
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: #ffffff;
    font-size: .9rem;
}

.sidebar a span:last-child {
    padding-left: .6rem;
}

.header {
    background-color: #616a6b;
    height: 60px;
    position: relative;
    border-bottom: 5px solid rgb(39, 86, 238);
}

.header img {
    width: 300px;
    float: left;
    margin-left: 240px;
    margin-top: 4px;
}

.header .header-menu {
    float: right;
    margin-top: 15px;
}

.header .header-menu a { 
    color: #ffffff;
    font-size: 17px;
    padding-right: 40px;
}

.header .header-menu a:hover {
    color: gray;
}

.header .header-menu a img {
    width: 40px;
    float: right;
    margin: 0;
    margin-top: -6px;
    margin-right: 20px;
}

.main-content .graph {
    height: 45%;
    width: 90%;
    margin-left: 200px;
    margin-top: 10%;
}

.main-content .content {
    margin-left: 15%;
    margin-top: 6%;
    text-align: center;
}

.main-content .content form {
    margin-top: 10px;
}

.main-content .content button {
    margin-top: 10px;
}